.crosshair {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 1.3rem;
  font-weight: 900;
  justify-content: center;
  left: 50%;
  line-height: 1;
  margin-top: -2px;
  pointer-events: none;
  position: fixed;
  text-shadow:
    -1.2px 0 #000,
    0 1.2px #000,
    1.2px 0 #000,
    0 -1.2px #000;
  top: 50%;
  translate: -50% -50%;
  z-index: 1;
}
